#fireflies-canvas {
    position: fixed; /* Фиксируем на весь экран */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1; /* Уводим в самый низ, под текст и кнопки */
    pointer-events: none; /* Чтобы он не мешал кликать по кнопкам */
}

/* Убедись, что body и main не имеют лишних отступов */
body, html {
    margin: auto;
    padding: 0;
    overflow-x: hidden;
}

#app-body {
    position: relative;
    z-index: 1; /* Контент всегда выше светлячков */
    top: 65 px;
}
#app-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    /* background: rgba(5, 5, 8, 0.8); */
    backdrop-filter: blur(10px);
    z-index: 2000;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(168, 85, 247, 0.2);
}

.header-content {
    display: grid;
    grid-template-columns: 60px 1fr 60px;
    width: 100%;
    align-items: center;
    text-align: center;
}

.account-link {
    color: #fff;
    text-decoration: none;
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button#header-back-btn {
    background: transparent;
    box-shadow: none;
    border: none;
}

/* Общие стили для кнопок в хедере */
.header-left button, .header-right button {
    background: none;
    border: none;
    padding: 8px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
}

/* Стили конкретно для стрелки (левая) */
#back-btn svg {
    display: block;
    width: 22px;
    height: 22px;
}

/* Стили для бургера (правая), чтобы не была "одной полоской" */
#main-menu-btn span {
    display: block;
    width: 22px;
    height: 2px;
    background-color: white;
    margin: 2px 0; /* Расстояние между полосками */
    border-radius: 2px;
    transition: 0.3s;
}

/* Выравнивание контейнера, если нужно */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background: #050508;
}
.account-icon {
    width: 24px;
    height: 24px;
    display: block;
    /* Мягкое свечение в цвет градиента */
    filter: drop-shadow(0 0 5px rgba(168, 85, 247, 0.4));
    transition: transform 0.2s ease, filter 0.2s ease;
}

.account-link:active .account-icon {
    transform: scale(0.9);
    filter: drop-shadow(0 0 8px rgba(236, 72, 153, 0.6));
}
